//
//  ConfigQA.xcconfig
//  wiki-app
//
//  Created by Aravinda Rathnayake on 2/6/20.
//  Copyright © 2020 Aravinda Rathnayake. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-hbo-app/Pods-hbo-app.qa.xcconfig"

HBO_APPLICATION_NAME=QA
HBO_APP_NAME = HBO Now-QA
HBO_APP_VERSION = 1.0
HBO_APP_BUNDLE_ID = com.aravindakr95.hbo-app.qa
HBO_APP_ICON = AppIconQA
